<p id="notice"><%= notice %></p>

<p>
  <strong>Team no:</strong>
  <%= @vote2.team_no %>
</p>

<p>
  <strong>Point1:</strong>
  <%= @vote2.point1 %>
</p>

<p>
  <strong>Point2:</strong>
  <%= @vote2.point2 %>
</p>

<p>
  <strong>Point3:</strong>
  <%= @vote2.point3 %>
</p>

<%= link_to 'Edit', edit_vote2_path(@vote2) %> |
<%= link_to 'Back', vote2s_path %>
