<div class="well">自分たちを除く、もっとも良かったチームを選択してください。</div>

<div class="form-horizontal" role="form">
  <%= form_for(@vote) do |f| %>
    <fieldset>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <div class="radio">
            <label><%= f.radio_button :team_no, "1", {:checked => true} %> チーム１「 エンジニアの朝は早い 」</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :team_no, "2" %> チーム２「 チーム モテ 」</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :team_no, "3" %> チーム３「 m3hack3 」</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :team_no, "4" %> チーム４「 Fibonacciとゆかいな仲間たち 」</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :team_no, "6" %> チーム６「 ジバニャン 」</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :team_no, "7" %> チーム７「 Route7 」</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :team_no, "8" %> チーム８「 電源不足 」</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :team_no, "5" %> チーム５「 アカサカハンズフリーズ 」</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= f.submit  '投票する', :class => "btn btn-primary", :data => { :confirm => "投票は1回だけです。よろしいですか？" } %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

