<%= form_tag('regist') do %>

<div class="well">評価項目を入力して投票ボタンを押してください。自分のチームには３を入力してください。</div>

<table class="table table-striped table-layout-fixed">
  <thead>
    <tr>
      <th>チーム</th>
      <th>チームワーク</th>
      <th>面白さ</th>
      <th>技術的斬新さ</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td>チーム <%= vote.team_no %><%= hidden_field_tag "votes[][team_no]", vote.team_no %></td>
        <td><%= select_tag "votes[][point1]", options_for_select(%w[1 2 3 4 5], :selected => vote.point1) %></td>
        <td><%= select_tag "votes[][point2]", options_for_select(%w[1 2 3 4 5], :selected => vote.point2) %></td>
        <td><%= select_tag "votes[][point3]", options_for_select(%w[1 2 3 4 5], :selected => vote.point3) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>

<%= submit_tag '投票する', :class => "btn btn-primary", :data => { :confirm => "投票は1回しかできません。よろしいですか？" } %>

</p>

<% end %>

