<p id="notice"><%= notice %></p>

<p>
  <strong>Team no:</strong>
  <%= @vote.team_no %>
</p>

<p>
  <strong>Point1:</strong>
  <%= @vote.point1 %>
</p>

<p>
  <strong>Point2:</strong>
  <%= @vote.point2 %>
</p>

<p>
  <strong>Point3:</strong>
  <%= @vote.point3 %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
